.gradle/
.architectury-transformer/
build/
**/run/
run-data/
**/logs/
*.iml
.idea/
*.classpath
*.project
*.factorypath
**/.settings/
**/bin/
out/
src/generated/
mcmodsrepo/
/dynamicstage/
.postman/
postman/
